.error{
    color: red;
    font-size: 90%;
    font-style: italic;
}
.profile{
    flex-grow: 1;
    text-align: right;
}
.navbar-nav{
    flex-grow: 1;
}
.profile .dropdown-menu{
    right: 0 !important;
    left: auto;
}