.gallery-images .gallery-item{
    margin-bottom: 10px;
}

.slide-wrapper .slide-item ,.skill-wrapper .skill-item, .partner-wrapper .partner-item, .team-wrapper .team-item{
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}