.gallery-images .gallery-item{
    margin-bottom: 10px;
}

.slide-wrapper .slide-item{
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.skill-wrapper .skill-item{
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}